{{> gallery-nav}}

<h1>Chebilat Peace Drive</h1>
<p>Peace intervention initiative and clean up at Chebilat Town. <br /> Chebilat town is a boarder town that has experienced chaos in the past</p>

<section class="row gallery-container">
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1540445184/peace%20warriors/chebilat-town/IMG-20181024-WA0003.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1540445186/peace%20warriors/chebilat-town/IMG-20181024-WA0004.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1540445188/peace%20warriors/chebilat-town/IMG-20181024-WA0006.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1540445187/peace%20warriors/chebilat-town/IMG-20181024-WA0007.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1540445184/peace%20warriors/chebilat-town/IMG-20181024-WA0005.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1540445186/peace%20warriors/chebilat-town/IMG-20181024-WA0001.jpg" alt="">
  </figure>
</section>
