{{> gallery-nav }}

<p>Peace Warriors professional coach Madam Virginia with several teams in Uasin Gishu County.</p>
<section class="row gallery-container">
  
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1600602195/peace%20warriors/coaching/pc-01.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1600602195/peace%20warriors/coaching/pc-02.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1600602195/peace%20warriors/coaching/pc-03.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1600602195/peace%20warriors/coaching/pc-04.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1600602195/peace%20warriors/coaching/pc-05.jpg" alt="">
  </figure>
</section>