{{> gallery-nav }}

<p>We were able to lend out a helping hand by providing sustenance packages to the community. This was during a community visit to assist in the improvement of the welfare of the less privileged Muslims in the society.</p>
<section class="row gallery-container">
  
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1597579957/peace%20warriors/covid/covid-05.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1597579954/peace%20warriors/covid/covid-04.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1597580229/peace%20warriors/covid/covid-09.jpg" alt="Five women cheering on their team in a football match">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1597580229/peace%20warriors/covid/covid-07.jpg" alt="">
  </figure>

  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1597579957/peace%20warriors/covid/covid-01.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1597579963/peace%20warriors/covid/covid-03.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1597579933/peace%20warriors/covid/covid-08.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1597579935/peace%20warriors/covid/covid-02.jpg" alt="">
  </figure>

  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1597579938/peace%20warriors/covid/covid-06.jpg" alt="">
  </figure>
</section>