{{> gallery-nav}}

<section class="row gallery-container">
  <figure class="card card-picture">
    <img src="https://res.cloudinary.com/jaredomamo/image/upload/v1597578078/peace%20warriors/women-sports/wis-03.png" alt="" class="card-img-top">
    <figcaption class="card-body">Five women cheering on their team in a football match</figcaption>
  </figure>
  
  <figure class="card card-picture">
    <img src="https://res.cloudinary.com/jaredomamo/image/upload/v1597578073/peace%20warriors/women-sports/wis-02.png" alt="" class="card-img-top">
    <figcaption class="card-body">Opponents contesting for a loose ball during a football match</figcaption>
  </figure>
  
  <figure class="card card-picture">
    <img src="https://res.cloudinary.com/jaredomamo/image/upload/v1597578059/peace%20warriors/women-sports/wis-01.png" alt="" class="card-img-top">
    <figcaption class="card-body">A participant in a bicycle race during a peace building program through sports</figcaption>
  </figure>
  
  <figure class="card card-picture">
    <img src="/images/img5.png" alt="" class="card-img-top">
    <figcaption class="card-body">Political participation and leadership</figcaption>
  </figure>
  
  <figure class="card card-picture">
    <img src="/images/img6.png" alt="" class="card-img-top">
    <figcaption class="card-body">Rural  women in farming during a training by agricultural officers</figcaption>
  </figure>
  
  <figure class="card card-picture">
    <img src="/images/img2.png" alt="" class="card-img-top">
    <figcaption class="card-body">Girls mentorship and training on home made sanitary pads</figcaption>
  </figure>
  
  <figure class="card card-picture">
    <img src="/images/img4.png" alt="" class="card-img-top">
    <figcaption class="card-body">Institutional development</figcaption>
  </figure>
  
  <figure class="card card-picture">
    <img src="/images/img7.png" alt="" class="card-img-top">
    <figcaption class="card-body">Women are the solution to peace and poverty</figcaption>
  </figure>
  
  <figure class="card card-picture">
    <img src="/images/img8.JPG" alt="" class="card-img-top">
    <figcaption class="card-body">Women economic empowerment forum</figcaption>
  </figure>
  
  <figure class="card card-picture">
    <img src="/images/img9.JPG" alt="" class="card-img-top">
    <figcaption class="card-body">Women empowerment forum</figcaption>
  </figure>
  
  <figure class="card card-picture">
    <img src="/images/img10.jpg" alt="" class="card-img-top">
    <figcaption class="card-body">Youth empowerment</figcaption>
  </figure>
  
  <figure class="card card-picture">
    <img src="/images/img11.JPG" alt="" class="card-img-top">
    <figcaption class="card-body">Women energizing after political participation forum</figcaption>
  </figure>
  
  <figure class="card card-picture">
    <img src="/images/youth-mali.jpg" alt="" class="card-img-top">
    <figcaption class="card-body">Girls empowerment</figcaption>
  </figure>
  
  <figure class="card card-picture">
    <img src="/images/Mentorship and support to persons living with disability.JPG" alt="" class="card-img-top">
    <figcaption class="card-body">Mentorship and support to persons living with disability</figcaption>
  </figure>
  
  <figure class="card card-picture">
    <img src="/images/mentorship for school girls.JPG" alt="" class="card-img-top">
    <figcaption class="card-body">Mentorship for school girls</figcaption>
  </figure>
  
  <figure class="card card-picture">
    <img src="/images/political participation capacity building forum.JPG" alt="" class="card-img-top">
    <figcaption class="card-body">Political participation capacity building forum</figcaption>
  </figure>
  
  <figure class="card card-picture">
    <img src="/images/School girls mentorship.JPG" alt="" class="card-img-top">
    <figcaption class="card-body">School girls mentorship</figcaption>
  </figure>
  
  <figure class="card card-picture">
    <img src="/images/Children%20living%20with%20intellectual%20disability.JPG" alt="" class="card-img-top">
    <figcaption class="card-body">Children living with intellectual disability</figcaption>
  </figure>
  
  <figure class="card card-picture">
    <img src="/images/Community%20work%20by%20women.JPG" alt="" class="card-img-top">
    <figcaption class="card-body">Community work by women</figcaption>
  </figure>
  
  <figure class="card card-picture">
    <img src="/images/Girls%20happy%20about%20the%20room.jpg" alt="" class="card-img-top">
    <figcaption class="card-body">Girls happy about the room</figcaption>
  </figure>
  
  <figure class="card card-picture">
    <img src="/images/girl's%20room%20supplies.jpg" alt="" class="card-img-top">
    <figcaption class="card-body">Girls' room supplies</figcaption>
  </figure>
  
  <figure class="card card-picture">
    <img src="/images/inner side of the eb.JPG" alt="" class="card-img-top">
    <figcaption class="card-body">Inner side of the ebb</figcaption>
  </figure>
  
  <figure class="card card-picture">
    <img src="/images/Institutional development.JPG" alt="" class="card-img-top">
    <figcaption class="card-body">Institutional development</figcaption>
  </figure>
  
  <figure class="card card-picture">
    <img src="/images/img13.jpg" alt="" class="card-img-top">
    <figcaption class="card-body"></figcaption>
  </figure>
  
  <figure class="card card-picture">
    <img src="/images/img14.jpg" alt="" class="card-img-top">
    <figcaption class="card-body"></figcaption>
  </figure>
  
  <figure class="card card-picture">
    <img src="/images/img15.jpg" alt="" class="card-img-top">
    <figcaption class="card-body"></figcaption>
  </figure>
  
</section>
