<nav class="nav flex-row secondary-nav">
  <a href="/gallery" class="nav-link">Mixed</a>
  <a href="/gallery/mentorship" class="nav-link">Girls' Mentorship</a>
  <a href="/gallery/kianyaga" class="nav-link">Kianyaga Children's Home</a>
  <a href="/gallery/peace-dinner" class="nav-link">Peace Dinner</a>
  <a href="/gallery/chebilat" class="nav-link">Chebilat Peace Drive</a>
</nav>

<h1>Kianyaga Children's Home Visit</h1>

<section class="row">
  <figure class="card card-picture">
    <img class="card-img-top rotate90" src="/images/kch/kch01.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top rotate90" src="/images/kch/kch02.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="/images/kch/kch09.JPG" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="/images/kch/kch10.JPG" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="/images/kch/kch12.JPG" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="/images/kch/kch13.JPG" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="/images/kch/kch18.JPG" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="/images/kch/kch19.JPG" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="/images/kch/kch21.JPG" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/kch03.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/kch04.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/kch05.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/kch06.JPG" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/kch07.JPG" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top rotate90" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/kch08.JPG" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/kch11.JPG" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/kch14.JPG" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/kch15.JPG" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/kch16.JPG" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/kch17.JPG" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/kch20.JPG" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/kch22.JPG" alt="">
  </figure>
</section>
