{{> gallery-nav }}

<p>We were able to hold a clean up activity at Kiandutu, involving the locals. Through the initiative, we gave the locals hope for a better future. The assurance that the state and cleanliness of their community is within their hands.</p>
<section class="row gallery-container">
  
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1597579957/peace%20warriors/Kiandutu/Kiandutu_004.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1597579954/peace%20warriors/Kiandutu/Kiandutu_000.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1597580229/peace%20warriors/Kiandutu/Kiandutu_010.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1597580229/peace%20warriors/Kiandutu/Kiandutu_005.jpg" alt="">
  </figure>

  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1597579957/peace%20warriors/Kiandutu/Kiandutu_006.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1597579963/peace%20warriors/Kiandutu/Kiandutu_009.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1597579933/peace%20warriors/Kiandutu/Kiandutu_013.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1597579935/peace%20warriors/Kiandutu/Kiandutu_012.jpg" alt="">
  </figure>

  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1597579938/peace%20warriors/Kiandutu/Kiandutu_016.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1597579935/peace%20warriors/Kiandutu/Kiandutu_017.jpg" alt="">
  </figure>
</section>
