<nav class="nav flex-row secondary-nav">
  <a href="/gallery" class="nav-link">Mixed</a>
  <a href="/gallery/mentorship" class="nav-link">Girls' Mentorship</a>
  <a href="/gallery/kianyaga" class="nav-link">Kianyaga Children's Home</a>
  <a href="/gallery/peace-dinner" class="nav-link">Peace Dinner</a>
  <a href="/gallery/chebilat" class="nav-link">Chebilat Peace Drive</a>
  <a href="/gallery/school-greening" class="nav-link">School Greening Program</a>
</nav>

<h1>Girls' Mentorship Programme</h1>

<section class="row">
  <figure class="card card-picture">
    <img class="card-img-top rotate180" src="/images/gmp/gmp01.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top rotate90" src="/images/gmp/gmp03.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top rotate90" src="/images/gmp/gmp04.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top rotate180" src="/images/gmp/gmp05.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="/images/gmp/gmp06.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top rotate90" src="/images/gmp/gmp07.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="/images/gmp/gmp12.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="/images/gmp/gmp14.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top rotate90" src="/images/gmp/gmp15.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="/images/gmp/gmp21.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="/images/gmp/gmp23.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="/images/gmp/gmp25.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="/images/gmp/gmp27.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top rotate90" src="/images/gmp/gmp29.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp02.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top rotate90" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp08.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top rotate90" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp09.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top rotate90" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp10.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp11.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp13.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top rotate90" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp16.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp17.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp19.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp20.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp22.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp24.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp26.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top rotate90" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp28.jpg" alt="">
  </figure>
  
</section>

{{!-- <section>
  {{#each images }}
  <figure class="card card-picture">
    <img class="card-img-top" src="{{source}}" alt="">
    <figcaption>{{caption}}</figcaption>
  </figure>
  {{/each}}
</section> --}}
