<nav class="nav flex-row secondary-nav">
  <a href="/gallery" class="nav-link">Mixed</a>
  <a href="/gallery/mentorship" class="nav-link">Girls' Mentorship</a>
  <a href="/gallery/kianyaga" class="nav-link">Kianyaga Children's Home</a>
  <a href="/gallery/peace-dinner" class="nav-link">Peace Dinner</a>
  <a href="/gallery/chebilat" class="nav-link">Chebilat Peace Drive</a>
</nav>

<h1>Peace Dinner</h1>

<section class="row">
  <figure class="card card-picture">
    <img class="card-img-top" src="/images/pcd/pcd12.JPG" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="/images/pcd/pcd13.JPG" alt="">
  </figure>
  <!-- <figure class="card card-picture">
    <img class="card-img-top" src="/images/pcd/pcd14.JPG" alt="">
  </figure> -->
  <figure class="card card-picture">
    <img class="card-img-top" src="/images/pcd/pcd15.JPG" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="/images/pcd/pcd16.JPG" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="/images/pcd/pcd18.JPG" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="http://res.cloudinary.com/jaredomamo/image/upload/c_scale,w_400/a_90/v1535125162/peace%20warriors/pcd01.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/c_scale,w_400/a_90/v1535124860/peace%20warriors/pcd02.jpg" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/c_scale,w_400/v1535124860/peace%20warriors/pcd03.JPG" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/c_scale,w_400/v1535124860/peace%20warriors/pcd04.JPG" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/c_scale,w_400/v1535124860/peace%20warriors/pcd05.JPG" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/c_scale,w_400/v1535124860/peace%20warriors/pcd06.JPG" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/c_scale,w_400/v1535124860/peace%20warriors/pcd07.JPG" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/c_scale,w_400/v1535124860/peace%20warriors/pcd08.JPG" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/c_scale,w_400/v1535124860/peace%20warriors/pcd09.JPG" alt="">
  </figure>
  <!-- <figure class="card card-picture">
    <img class="card-img-top" src="/images/pcd/pcd10.JPG" alt="">
  </figure> -->
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/c_scale,w_400/v1535124860/peace%20warriors/pcd11.JPG" alt="">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/c_scale,w_400/v1535124860/peace%20warriors/pcd17.JPG" alt="">
  </figure>
</section>
