{{> gallery-nav }}

<p>We held a peace building initiative that got women to participate in various sports activities.</p>
<section class="row gallery-container">
  
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1597578078/peace%20warriors/women-sports/wis-03.png" alt="Five women cheering on their team in a football match">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1597578073/peace%20warriors/women-sports/wis-02.png" alt="Opponents contesting for a loose ball during a football match">
  </figure>
  <figure class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/v1597578059/peace%20warriors/women-sports/wis-01.png" alt="A participant in a bicycle race">
  </figure>
</section>