  {{!-- gallery nav --}}
<section>
  {{#each images }}
  <figure class="card card-picture">
    <img class="card-img-top" src="{{source}}">
    <figcaption>{{caption}}</figcaption>
  </figure>
  {{/each}}
</section>
