<main>
  <img src="/images/pwo-logo.jpg" alt="We are the messengers for peace in our country, Kenya" style="width: 100%;">
  <div>
    <h1>{{title}}</h1>
    <p>Peace Warriors Organisation is a women-led, non-profit, non-partisan and non-governmental organisation committed to support, position and strengthen women and girls through social, economic and political interventions at all levels of governance resulting to peace as the bigger picture.</p>
    <button class="btn btn-primary">
      <a href="https://web.facebook.com/PEACEkeny.org/">Become a Peace Warrior</a>
    </button>
    
    <section class="mission-vision">
      <section>
        <h2>Our Mission</h2>
        <p>Advancing, supporting and strengthening equal rights for women and girls with those of men politically and economically.</p>
      </section>
      <section>
        <h2>Our Vision</h2>
        <p>Partner with women in all levels on peaceful interventions for visibility on political and economic participation.</p>
      </section>
    </section>
  </div>
  
</main>
<article id="objectives">
  <h2>This year's objectives</h2>
  <div>
    <p><span>Hello Peace Warriors!</span> <br/>As we progress through the year we continue to emphasize team work and collaboration towards fulfilling the pillars upon which the organization is built. This February we are appealing for your continued support in the following areas;</p>
    <h3>Peace Intervention</h3>
    <p>This is the most important of all and we focus on developing local capacities for peace in conflict-ridden and conflict-prone areas in Kenya using non-violent means and community dialogues.</p>
    <p>We seek to develop, equip and mobilize individual peace agents, community peace structures and local peace-promoting organizations and to work with them for synergy and greater impact.</p>
    <h3>Political Participation &amp; Leadership</h3>
    <ul>
      <li>Our objective is to have empowered women compete for political seats with men peacefully and without discrimination to strengthen development and leadership from community level.</li>
      <li>We are committed to increase the number of women in decision making positions in all levels of governance.</li>
      <li>We aim to engage with media for women visibility and effective reporting on women empowerment on their grassroots development ventures.</li>
    </ul>
    <h3>Institutional Development</h3>
    <ul>
      <li>We aim to become a dynamic and self-driven organization.</li>
      <li>We will continuously have in-service learning of our members by creating spaces and opportunities to undertake professional growth and staff welfare.</li>
      <li>Our visibility will be through consistent and powerful branding at local, national, regional and international levels.</li>
    </ul>
    <h3>Youth &amp; Women Empowerment</h3>
    <ul>
      <li>Alleviation of poverty and improving the well-being of women, youth and girls in Kenya.</li>
      <li>The program supports innovative strategies to address the concerns of women and recognize their role in economic development.</li>
      <li>We also support widows in making of shangas (beadwork) which also help in conserving our African culture as indicated in the photos.</li>
    </ul>
    <p><strong>WE APPEAL TO YOU TO JOIN US IN THESE INITIATIVES IN YOUR OWN CAPACITY THROUGH DONATIONS AND SPREADING THE WORD.</strong></p>
    <button class="btn btn-primary">
      <a href="https://web.facebook.com/PEACEkeny.org/">Become a Peace Warrior</a>
    </button>
  </div>
</article>

<article id="thematic-areas">
  <h2>Thematic Areas</h2>
  <p>These are the areas through which we work to achieve our objectives</p>
  <section>
    <div>
      <img src="/images/leadership.png" alt="Empowering women to compete peacefully for political positions with their male counterparts">
    </div>
    <div>
      <h3>Political Participation &amp; Leadership</h3>
      <p>The overall objective of <abbr title="Peace Warriors Organization">PWO</abbr> is to have empowered women compete for political seats with men peacefully and without discrimination to strengthen development and leadership from community level. PWO is committed to increase the number of women in decision making positions in all levels of governance. Engagement with media for women visibility and effective reporting on women empowerment on their grassroots development ventures is paramount to <abbr title="Peace Warriors Organization">PWO</abbr>.</p>
    </div>
  </section>
  
  <section>
    <div>
      <img src="/images/economic-empowerment.png" alt="Empowering women to compete peacefully for political positions with their male counterparts">
    </div>
    <div>
      <h3>Women Economic Empowerment</h3>
      <p>Alleviation of poverty and improving the well-being of women and girls in Kenya. This promotes awareness and empower women in co-operatives on the advantages of economic welfare and health status for families for an effective performance and productivity. Sustainable enterprises adopt appropriate environmental and friendly technologies develop skills and human resources. The program supports innovative strategies to address the concerns of women and recognize their role in economic development. The intervention strategies include capacity building - providing training and direct support to women in rural areas; engaging key regional institutions, national stakeholders and women's community-based organizations.</p>
    </div>
  </section>

  <section>
    <div>
      <img src="/images/mentorship.png" alt="Empowering women to compete peacefully for political positions with their male counterparts">
    </div>
    <div>
      <h3>Mentorship For Girls</h3>
      <p><abbr title="Peace Warriors Organization">PWO</abbr> believes that empowering women and girls raises the quality of life for everyone. When women lead, not only do they lead in their communities, but they also fight for their children and give a voice to issues that lead to a collective better quality of life. <abbr title="Peace Warriors Organization">PWO</abbr> is therefore geared towards supporting girls and young women in under-served communities as well as other communities through the practice of mentoring. To have all round empowered women, mentorship needs to start as an early age so as to inspire the next generation.</p>
    </div>
  </section>

  <section>
    <div>
      <img src="/images/institutional-development.png" alt="Empowering women to compete peacefully for political positions with their male counterparts">
    </div>
    <div>
      <h3>Institutional Development</h3>
      <p>Principal objective is to enable <abbr title="Peace Warriors Organization">PWO</abbr> become a dynamic and self-driven organization. <abbr title="Peace Warriors Organization">PWO</abbr>, being a stable and highly performing organization with a diversified resource base is possible as it has a national look. <abbr title="Peace Warriors Organization">PWO</abbr> will continuously have in-service learning of its staff by creating spaces and opportunities to undertake professional growth and staff welfare. <abbr title="Peace Warriors Organization">PWO</abbr> visibility will be through consistent and powerful branding at local, national, regional and international levels. This will be realized in part through media partnership and utilization of various social media platforms.</p>
    </div>
  </section>

  <section>
    <div>
      <img src="/images/peaceful-interventions.png" alt="Empowering women to compete peacefully for political positions with their male counterparts">
    </div>
    <div>
      <h3>Peaceful interventions</h3>
      <p><abbr title="Peace Warriors Organization">PWO</abbr> focuses on developing local capacities for peace in conflict-ridden and conflict-prone areas in Kenya and seeks to develop, equip and mobilize individual peace agents, community peace structures and local peace-promoting organizations and to work with them for synergy and greater impact. Within the scopes of our mission, the interventions on all other thematic areas depends on peace. Women and girls face real challenges of insecurity when running their activities. Nothing can really thrive if the environment is not peaceful. <abbr title="Peace Warriors Organization">PWO</abbr> is geared towards realizing peaceful political climate, peaceful coexistence, being a sister's keeper and peaceful atmosphere for women and girls and generally all citizens engaging in economic endeavors.</p>
    </div>
  </section>
</article>
