<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="Peace Warriors Organisation is a women-led, non-profit, non-partisan and non-governmental organisation committed to support, position and strengthen women and girls through social, economic and political interventions at all levels of governance resulting to peace as the bigger picture." />
  <meta name="google-site-verification" content="jwc6KEzLsQXXe49Rqeh47-5Im0d-Z0aO7ndd6R3zb-o" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <title>{{title}}</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- font awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/less/gallery.css">
  <link rel='stylesheet' href='/less/style.css' />
</head>
<body class="container-fluid">
  <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Peace Warriors Organization</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/about">About Us</a>
          <a class="nav-item nav-link" href="/gallery">Gallery</a>
          <a class="nav-item nav-link" href="/contacts">Contact Us</a>
        </div>
      </div>
    </nav>
  </header>

  {{{body}}}
  
  <footer>
    <em>JOIN US IN OUR INITIATIVES IN YOUR OWN CAPACITY THROUGH DONATIONS AND SPREADING THE WORD</em>
    <a href="https://web.facebook.com/PEACEkeny.org/" class="btn btn-primary">Become a Peace Warrior</a>

     <p class="copyright_text">&copy;All rights reserved by <a href="/">Peace Warriors Organisation</a></p>
    <p class="social">
      <a target="_blank" href="https://twitter.com/PeaceWarriorsO1"><span class="fa fa-twitter"></span></a>
      <a target="_blank" href="https://web.facebook.com/PEACEkeny.org/"><span class="fa fa-facebook"></span></a>
      <a target="_blank" href="https://www.instagram.com/peacewarriorsorganisation/"><span class="fa fa-instagram"></span></a>
    </p>
  </footer>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
