.divs-2 {
  background-color: white;
}
.row div:first-child {
  padding: 20px;
}
iframe {
  margin: auto;
  width: 100%;
  height: auto;
}
@media screen and (min-width: 577px) {
  .row {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center
  }
  .divs-2{
    min-height: 73vh;    
  }
  iframe {
    width: 90%;
    height: auto;
    min-height: 73vh;
  }
}
