<div class="container">
  <div class="divs-2">
    <h3>We'd like to hear from you</h3>
    <address>
      Regent Court Block B, 2nd floor, Room B5 <br>
      Argwings Kodhek Road,<br>
      Net to Olive Garden, opposite Nairobi Women's Hospital<br>
      P.O. Box 23698-00100,<br>
      Telephone: +254 746 220 117/ +254 770 264 471<br>
      Email: info@peacewarriors.or.ke<br>
      Website: <a href="http://www.peacewarriors.or.ke" style="color: #417a9c;">www.peacewarriors.or.ke</a>
    </address>
  </div>
  <div class="divs-2">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1994.399486890856!2d36.79505855545432!3d-1.295183335999821!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f10bd8f94ae8b%3A0xde67c55ec0e8ddcb!2sPeace+Warriors+Organisation!5e0!3m2!1sen!2ske!4v1508922056312" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
