<div class="row">
  <div class="card card-picture">
    <img class="card-img-top rotate180" src="assets/gmp/gmp01.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top rotate90" src="assets/gmp/gmp03.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top rotate90" src="assets/gmp/gmp04.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top rotate180" src="assets/gmp/gmp05.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/gmp/gmp06.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top rotate90" src="assets/gmp/gmp07.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/gmp/gmp12.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/gmp/gmp14.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top rotate90" src="assets/gmp/gmp15.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/gmp/gmp21.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/gmp/gmp23.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/gmp/gmp25.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/gmp/gmp27.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top rotate90" src="assets/gmp/gmp29.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp02.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top rotate90" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp08.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top rotate90" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp09.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top rotate90" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp10.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp11.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp13.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top rotate90" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp16.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp17.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp19.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp20.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp22.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp24.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp26.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top rotate90" src="https://res.cloudinary.com/jaredomamo/image/upload/w_400,h_400/v1534777576/peace%20warriors/gmp28.jpg">
  </div>
  
  

</div>