<div class="container" fxLayout.xs="column">
  <mat-card class="card-picture">
    <img mat-card-image src="assets/img/img5.png">
    <mat-card-content>
      <p>Political participation and leadership</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-picture">
    <img mat-card-image src="assets/img/img6.png">
    <mat-card-content>
      <p>Rural  women in farming during a training by agricultural officers</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-picture">
    <img mat-card-image src="assets/img/img2.png">
    <mat-card-content>
      <p>Girls mentorship and training on home made sanitary pads</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-picture">
    <img mat-card-image src="assets/img/img4.png">
    <mat-card-content>
      <p>Institutional development</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-picture">
    <img mat-card-image src="assets/img/img7.png">
    <mat-card-content>
      <p>Women are the solution to peace and poverty</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-picture">
    <img mat-card-image src="assets/img/img8.JPG">
    <mat-card-content>
      <p>Women economic empowerment forum</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-picture">
    <img mat-card-image src="assets/img/img9.JPG">
    <mat-card-content>
      <p>Women empowerment forum</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-picture">
    <img mat-card-image src="assets/img/img10.jpg">
    <mat-card-content>
      <p>Youth empowerment</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-picture">
    <img mat-card-image src="assets/img/img11.JPG">
    <mat-card-content>
      <p>Women energizing after political participation forum</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-picture">
    <img mat-card-image src="assets/img/youth-mali.jpg">
    <mat-card-content>
      <p>Girls empowerment</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-picture">
    <img mat-card-image src="assets/img/Mentorship and support to persons living with disability.JPG">
    <mat-card-content>
      <p>Mentorship and support to persons living with disability</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-picture">
    <img mat-card-image src="assets/img/mentorship for school girls.JPG">
    <mat-card-content>
      <p>Mentorship for school girls</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-picture">
    <img mat-card-image src="assets/img/political participation capacity building forum.JPG">
    <mat-card-content>
      <p>Political participation capacity building forum</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-picture">
    <img mat-card-image src="assets/img/School girls mentorship.JPG">
    <mat-card-content>
      <p>School girls mentorship</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-picture">
    <img mat-card-image src="assets/img/Children%20living%20with%20intellectual%20disability.JPG">
    <mat-card-content>
      <p>Children living with intellectual disability</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-picture">
    <img mat-card-image src="assets/img/Community%20work%20by%20women.JPG">
    <mat-card-content>
      <p>Community work by women</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-picture">
    <img mat-card-image src="assets/img/Girls%20happy%20about%20the%20room.jpg">
    <mat-card-content>
      <p>Girls happy about the room</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-picture">
    <img mat-card-image src="assets/img/girl's%20room%20supplies.jpg">
    <mat-card-content>
      <p>Girls' room supplies</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-picture">
    <img mat-card-image src="assets/img/inner side of the eb.JPG">
    <mat-card-content>
      <p>Inner side of the ebb</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-picture">
    <img mat-card-image src="assets/img/Institutional development.JPG">
    <mat-card-content>
      <p>Institutional development</p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-picture">
    <img mat-card-image src="assets/img/img12.jpg">
    <mat-card-content>
      <p></p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-picture">
    <img mat-card-image src="assets/img/img13.jpg">
    <mat-card-content>
      <p></p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-picture">
    <img mat-card-image src="assets/img/img14.jpg">
    <mat-card-content>
      <p></p>
    </mat-card-content>
  </mat-card>
  <mat-card class="card-picture">
    <img mat-card-image src="assets/img/img15.jpg">
    <mat-card-content>
      <p></p>
    </mat-card-content>
  </mat-card>
</div>
