.row {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
  flex: 3 0 24%;
  min-height: 100%;
  width: 100%;
  overflow: scroll;
  padding-top: 10px;
}
/* .img {
  width: 100%;
  margin-bottom: 18%;
} */
.card-picture {
  flex-basis: auto;
  margin: auto;
  margin-top: 2%;
}

@media screen and (min-width: 577px) {
  .card-picture {
    width: 49%;
    margin: auto;
  }
}

@media screen and (min-width: 767px) {
  .card-picture {
    width: 24%;
    margin: auto;
  }
}
