<div class="container">
  <div class="row">
    <nav class="nav flex-row secondary-nav">
      <a class="nav-link"routerLinkActive="active" routerLink="/gallery">All</a>
      <a class="nav-link" routerLinkActive="active" routerLink="/gallery/mentorship">Girls' Mentorship</a>
      <a class="nav-link" routerLinkActive="active" routerLink="/gallery/kianyaga">Kianyaga Children's Home</a>
      <a class="nav-link" routerLinkActive="active" routerLink="/gallery/peace-dinner">Peace Dinner</a>
    </nav>
  </div>
    
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>



