<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse show">
    <div class="navbar-nav right">
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/gallery">All</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/gallery/mentorship">Girls' Mentorship</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/gallery/kianyaga">Kianyaga Children's Home</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/gallery/peace-dinner">Peace Dinner</a>
    </div>
  </div>
</nav>

  <router-outlet></router-outlet>