.container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  flex: 3 0 24%;
  min-height: 100%;
  width: 100%;
  overflow: scroll;
  padding-top: 10px;
}
.img {
  width: 100%;
  margin-bottom: 18%;
}
.card-picture {
  flex-basis: auto;
  width: 20%;
  margin-left: 1%;
  margin-bottom: 2%;
}
