<div class="row">
  <div class="card card-picture">
    <img class="card-img-top rotate90" src="assets/kch/kch01.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top rotate90" src="assets/kch/kch02.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/kch/kch03.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/kch/kch04.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/kch/kch05.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/kch/kch06.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/kch/kch07.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top rotate90" src="assets/kch/kch08.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/kch/kch09.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/kch/kch10.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/kch/kch11.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/kch/kch12.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/kch/kch13.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/kch/kch14.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/kch/kch15.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/kch/kch16.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/kch/kch17.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/kch/kch18.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/kch/kch19.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/kch/kch20.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/kch/kch21.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/kch/kch22.JPG">
  </div>
</div>