.main-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  background-color: whitesmoke;
  width: 96vw !important;
  min-height: 80vh;
}

/*
=================================
             FOOTER
=================================
*/
.friend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
}
.footer {
  flex-direction: column;
  align-self: flex-end;
  text-align: center;
  background-color: rgb(199, 12, 199);
  color: white;
  min-width: 100%;
}
.footer a {
  color: rgb(21, 203, 248);
}
.footer a:hover {
  color: rgb(21, 203, 248);
  font-weight: 600;
  text-decoration: none;
}
.social {
  display: flex;
  justify-content: center;
}
.social a {
  margin: 0 20px;
  font-size: 20px;
  font-weight: bold;
}
