.main-container {
  display: flex;
  flex-flow: column wrap;
  background-color: whitesmoke;
  min-height: 90vh;
}

/*
=================================
             FOOTER
=================================
*/
.footer {
  flex-direction: column;
  align-self: flex-end;
  text-align: center;
  background-color: purple;
  color: white;
  min-width: 100%;
}
.social {
  display: flex;
  justify-content: center;
}
.social a {
  margin: 0 20px;
  font-size: 20px;
  font-weight: bold;
}
