<div class="row">
  <div class="card card-picture">
    <img class="card-img-top rotate180" src="assets/gmp/gmp01.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/gmp/gmp02.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top rotate90" src="assets/gmp/gmp03.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top rotate90" src="assets/gmp/gmp04.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top rotate180" src="assets/gmp/gmp05.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/gmp/gmp06.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top rotate90" src="assets/gmp/gmp07.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top rotate90" src="assets/gmp/gmp08.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top rotate90" src="assets/gmp/gmp09.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top rotate90" src="assets/gmp/gmp10.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/gmp/gmp11.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/gmp/gmp12.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/gmp/gmp13.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/gmp/gmp14.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top rotate90" src="assets/gmp/gmp15.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top rotate90" src="assets/gmp/gmp16.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/gmp/gmp17.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/gmp/gmp19.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/gmp/gmp20.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/gmp/gmp21.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/gmp/gmp22.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/gmp/gmp23.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/gmp/gmp24.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/gmp/gmp25.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/gmp/gmp26.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/gmp/gmp27.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top rotate90" src="assets/gmp/gmp28.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top rotate90" src="assets/gmp/gmp29.jpg">
  </div>

</div>