<div class="row banner">
  <div class="divs-2">
    <div class="img-wrap">
      <img class="img-responsive" src="assets/img/pwo-logo.jpg">
    </div>
  </div>
  <div class="divs-2" class="banner_text">
    <h1 style="text-align: center;">Peace Warriors Organisation</h1>
    <p>Peace Warriors Organisation is a women-led, non-profit, non-partisan and non-governmental organisation committed to support, position and strengthen women and girls through social, economic and political interventions at all levels of governance resulting to peace as the bigger picture.</p>
  </div>
</div>

<div class="row below_banner">
  <div class="divs-2">
    <h2>Our Vision</h2>
    <p>Partner with women in all levels on peaceful interventions for visibility on political and economic participation.</p>
  </div>
  <div class="divs-2">
    <h2>Our Mission</h2>
    <p>Advancing, supporting and strengthening equal rights for women and girls with those of men politically and economically.</p>
  </div>
</div>

<div class="row" id="updates">
  <div class="col-xs-12 col-sm-10 offset-sm-1">
    <div>
      <p>As we begin the new year we would like to place our focus on the following initiatives and call out to you to participate in your capacity in promoting and fulfilling them.</p>
    </div>
    <ol>
      <li>
        <h3>GIRLS MENTORSHIP</h3>
        <p>My Sister's Keeper initiative by Peace Warriors seeks to raise funds to construct Girl's room for the girls to freshen up when they are caught unawares and a place where they can rest for a while in case of stomach cramps after taking pain killers. </p>
        <p>The rooms will be equipped with a spare set of uniform, soap, basins, towels, extra
          panties, sanitary pads, dustbin, and jericans of water for the rural areas / shower and a bed. We wish to construct at least one of these rooms in each of the 47 counties of Kenya.</p>
      </li>
      <li>
        <h3>PEACE INTERVENTION</h3>
        <p>We aim to ensure inter-community partnership building using non-violent approach to turn the tides through;</p>
        <ul>
          <li>Community capacity building through dialogues.</li>
          <li>Consolidation of peace and restorative activities including research and civic education.</li>
          <li>Inter-community or joint trade and business ventures.</li>
          <li>Inter-community communal work.</li>
        </ul>
      </li>
      <li>
        <h3>YOUTH AND WOMEN EMPOWERMENT</h3>
        <p>PWO targets women and young and seeks to strengthen their ability to participate effectively to influence the economy.</p>
        <p>We will raise public awareness of the gender equality constitutional provisions and economic empowerment in terms of inclusive gender equality processes.</p>
        <p>We will support efforts of continued gender-responsive development and economic empowerment to ensure that youth and women gain a stronger position in the family, in the community and in the international arena.</p>
        <p>We will also support marginalized groups and persons with disabilities to help them achieve their life goals.</p>
      </li>
    </ol>
    <h5>WE APPEAL TO YOU TO JOIN US IN THESE INITIATIVES IN YOUR OWN CAPACITY THROUGH DONATIONS AND SPREADING THE WORD.</h5>
  </div>
</div>

<div class="work">
  <h2>Thematic Areas</h2>
  <h5>The areas through which we work to achieve our objectives </h5>
  <div class="row work-area text-center">
    <div class="divs-2">
      <img mat-card-image src="assets/img/img5.png">
    </div>
    <div class="divs-2">
      <h3>Political Participation & Leadership</h3>
      <p>The overall objective of PWO is to have empowered women compete for political seats with men peacefully and without discrimination to strengthen development and leadership from community level. PWO is committed to increase the number of women in decision making positions in all levels of governance. Engagement with media for women visibility and effective reporting on women empowerment on their grassroots development ventures is paramount to PWO.</p>
    </div>
  </div>
  <div class="row work-area order-2">
    <div class="divs-2">
      <img mat-card-image src="assets/img/img6.png">
    </div>
    <div class="divs-2">
      <h3>Women Economic Empowerment</h3>
      <p>Alleviation of poverty and improving the well-being of women and girls in Kenya. This promotes awareness and empower women in co-operatives on the advantages of economic welfare and health status for families for an effective performance and productivity. Sustainable enterprises adopt appropriate environmental and friendly technologies develop skills and human resources. The program supports innovative strategies to address the concerns of women and recognize their role in economic development. The intervention strategies include capacity building - providing training and direct support to women in rural areas; engaging key regional institutions, national stakeholders and women's community-based organizations.</p>
    </div>
  </div>
  <div class="row work-area">
    <div class="divs-2">
      <img mat-card-image src="assets/img/img2.png">
    </div>
    <div class="divs-2">
      <h3>Mentorship For Girls</h3>
      <p>PWO believes that empowering women and girls raises the quality of life for everyone. When women lead, not only do they lead in their communities, but they also fight for their children and give a voice to issues that lead to a collective better quality of life. PWO is therefore geared towards supporting girls and young women in under-served communities as well as other communities through the practice of mentoring. To have all round empowered women, mentorship needs to start as an early age so as to inspire the next generation.</p>
    </div>
  </div>
  <div class="row work-area order-2">
    <div class="divs-2">
      <img mat-card-image src="assets/img/img4.png">
    </div>
    <div class="divs-2">
      <h3>Institutional Development</h3>
      <p>Principal objective is to enable PWO become a dynamic and self-driven organization. PWO being a stable and highly performing organization with a diversified resource base is possible as it has a national look. PWO will continuously have in-service learning of its staff by creating spaces and opportunities to undertake professional growth and staff welfare. PWO visibility will be through consistent and powerful branding at local, national, regional and international levels. This will be realized in part through media partnership and utilization of various social media platforms. </p>
    </div>
  </div>
  <div class="row work-area">
    <div class="divs-2">
      <img mat-card-image src="assets/img/img7.png">
    </div>
    <div class="divs-2">
      <h3>Peaceful interventions</h3>
      <p>PWO focuses on developing local capacities for peace in conflict-ridden and conflict-prone areas in Kenya and seeks to develop, equip and mobilize individual peace agents, community peace structures and local peace-promoting organizations and to work with them for synergy and greater impact. Within the scopes of our mission, the interventions on all other thematic areas depends on peace. Women and girls face real challenges of insecurity when running their activities. Nothing can really thrive if the environment is not peaceful. PWO is geared towards realizing peaceful political climate, peaceful coexistence, being a sister's keeper and peaceful atmosphere for women and girls and generally all citizens engaging in economic endeavors.</p>
    </div>
  </div>
</div>
