
/*================================
            BANNER
==================================*/
.banner {
  background-color: #ffffff;
}
.img {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  margin-bottom: 18%;
}
.banner_text, .below_banner {
  padding: auto;
}


@media screen and (min-width: 577px) {
  .below_banner div {
    width: 45%;
    margin: 10px 2.5%;
  }
}

/*=================================
          WORK
===================================*/
.work {
  margin: 2%;
  overflow: hidden;
  text-align: center;
  }
.work-area {
  display: flex;
  justify-content: center;
  margin: auto;
}
.work-area div:last-child {
  background-color: #ffffff;
}
.work-area img {
  width: 100%;
  height: auto;
}
.work-area p {
  background-color: #ffffff;
  padding: 5%;
}


@media screen and (min-width: 577px) {
  .order-2 div:last-child {
    order: 1;
  }
  .order-2 div:first-child {
    order: 2;
  }
}