<div class="container" fxLayout.xs="column">
    <div fxFlex="30%" fxLayoutAlign="center">
      <img mat-card-image class="img" src="assets/img/pwo_logo.png">
  </div>

  <div fxFlex="50%" class="banner_text">
    <h1>Peace Warriors Organisation</h1>
    <p>Peace Warriors Organisation is a women-led, non-profit, non-partisan and non-governmental organisation committed to support, position and strengthen women and girls through social, economic and political interventions at all levels of governance resulting to peace as the bigger picture. </p>
  </div>
</div>

<div class="clear"></div>

<div class="below_banner" fxLayout.xs="column">
    <div fxFlex="40%">
      <h2>Our Vision</h2>
      <p>Partner with women in all levels on peaceful interventions for visibility on political and economic participation.</p>
    </div>
    <div fxFlex="40%">
      <h2>Our Mission</h2>
      <p>Advancing, supporting and strengthening equal rights for women and girls with those of men politically and economically.</p>
    </div>
</div>

