
/*================================
            BANNER
==================================*/
.banner {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
}
.banner .divs-2:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .img-wrap {
  width: 90%;
  margin: auto;
}

.banner_text,
.below_banner {
  padding: auto;
  margin: auto;
  text-align: center;
}
#updates {
  background-color: #ffffff;
  padding: 40px 20px;
}
#updates div div:first-child, #updates h5 {
  width: 90%;
  margin-right: 5%;
  margin-left: 5%;
  text-align: center;
}
#updates ol {
  /* color: rgb(21, 203, 248);
  font-size: 1.75rem;
  font-weight: 600; */
  list-style-type: none;
}


@media only screen and (min-width: 577px) {
  .below_banner div {
    width: 45%;
    margin: 10px 2.5%;
  }
  .banner div:first-child {
    width: 40%;
  }
  .banner div:last-child {
    width: 45%;
  }
  #updates div div:first-child, #updates h5 {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media only screen and (min-width: 767px) {
  .banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
  }
  .below_banner div{
    padding-left: 5%;
    padding-right: 5%;
  }
}

/*=================================
          WORK
===================================*/
.work {
  margin: 2%;
  overflow: hidden;
  text-align: center;
  }
.work-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.work-area div:last-child {
  background-color: #ffffff;
  box-shadow: rgb(21, 203, 248) 0 0 1px;
}
.work-area img {
  width: 100%;
  height: auto;
}
.work-area p {
  background-color: #ffffff;
  padding: 5%;
  text-align: left;
}


@media screen and (min-width: 577px) {
  .divs-2 {
    width: 48%;
    margin: 5px 1%;
    padding: 2%;
  }
  .order-2 div:last-child {
    order: 1;
  }
  .order-2 div:first-child {
    order: 2;
  }
}