    <div class="row">
    <div class="card card-picture">
      <img class="card-img-top" src="assets/pcd/pcd12.JPG">
    </div>
    <div class="card card-picture">
      <img class="card-img-top" src="assets/pcd/pcd13.JPG">
    </div>
    <div class="card card-picture">
      <img class="card-img-top" src="assets/pcd/pcd14.JPG">
    </div>
    <div class="card card-picture">
      <img class="card-img-top" src="assets/pcd/pcd15.JPG">
    </div>
    <div class="card card-picture">
      <img class="card-img-top" src="assets/pcd/pcd16.JPG">
    </div>
    <div class="card card-picture">
      <img class="card-img-top" src="assets/pcd/pcd18.JPG">
    </div>
  </div>
  <div class="card card-picture">
    <img class="card-img-top rotate90" src="http://res.cloudinary.com/jaredomamo/image/upload/c_scale,w_400/a_90/v1535125162/peace%20warriors/pcd01.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top rotate90" src="https://res.cloudinary.com/jaredomamo/image/upload/c_scale,w_400/a_90/v1535124860/peace%20warriors/pcd02.jpg">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/c_scale,w_400/v1535124860/peace%20warriors/pcd03.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/c_scale,w_400/v1535124860/peace%20warriors/pcd04.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/c_scale,w_400/v1535124860/peace%20warriors/pcd05.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/c_scale,w_400/v1535124860/peace%20warriors/pcd06.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/c_scale,w_400/v1535124860/peace%20warriors/pcd07.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/c_scale,w_400/v1535124860/peace%20warriors/pcd08.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/c_scale,w_400/v1535124860/peace%20warriors/pcd09.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/pcd/pcd10.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/c_scale,w_400/v1535124860/peace%20warriors/pcd11.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="https://res.cloudinary.com/jaredomamo/image/upload/c_scale,w_400/v1535124860/peace%20warriors/pcd17.JPG">
  </div>