<div class="row">
  <div class="card card-picture">
    <img class="card-img-top rotate90" src="assets/pcd/pcd01.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top rotate90" src="assets/pcd/pcd02.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/pcd/pcd03.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/pcd/pcd04.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/pcd/pcd05.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/pcd/pcd06.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/pcd/pcd07.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/pcd/pcd08.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/pcd/pcd09.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/pcd/pcd10.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/pcd/pcd11.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/pcd/pcd12.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/pcd/pcd13.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/pcd/pcd14.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/pcd/pcd15.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/pcd/pcd16.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/pcd/pcd17.JPG">
  </div>
  <div class="card card-picture">
    <img class="card-img-top" src="assets/pcd/pcd18.JPG">
  </div>
</div>